In [18]:
import pandas as pd
import numpy as np
from matplotlib import pylab as plt
import matplotlib
%matplotlib inline

file_name = "~/Data1030Project/data/preprocessed.csv"
df = pd.read_csv(file_name)

In [19]:
df.head()

,LIMIT_BAL,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,...,PAY_6_-1,PAY_6_0,PAY_6_2,PAY_6_3,PAY_6_4,PAY_6_5,PAY_6_6,PAY_6_7,PAY_6_8,Y
0,-1.136720,0.051724,-0.642501,-0.647399,-0.667993,-0.672497,-0.663059,-0.652724,-0.341942,-0.227086,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,-0.365981,0.086207,-0.659219,-0.666747,-0.639254,-0.621636,-0.606229,-0.597966,-0.341942,-0.213588,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,-0.597202,0.224138,-0.298560,-0.493899,-0.482408,-0.449730,-0.417188,-0.391630,-0.250292,-0.191887,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,-0.905498,0.275862,-0.057491,-0.013293,0.032846,-0.232373,-0.186729,-0.156579,-0.221191,-0.169361,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
4,-0.905498,0.620690,-0.578618,-0.611318,-0.161189,-0.346997,-0.348137,-0.331482,-0.221191,1.335034,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0